.container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forecastTable {

}
.heading {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.locationRegion {

    margin: 0;
}
.locationCountry {
    padding-left: 1.9rem;
    margin: 0;
}
.hourCell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 700px;
    border-bottom: black 1px solid;
}
.hourCell:hover {
    background-color: rgb(244, 248, 255);
}
.hourTime {
    font-size: 1.1rem;
}
.currentWeatherText {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.currentWeather {
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border: black solid 1px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sunriseAndSunset {
    padding: 1rem;
    width: 700px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: black solid 1px;

}
.sunriseAndSunset p {
    margin: 0;
}